<div class="container">
  <footer class="footer">
    <p class="pull-right"><a href="#">Top</a></p>
    <p class="generated-by">Généré par <a href="http://www.ubimix.com">Ubimix</a> pour <a href="http://siliconsentier.org/">Silicon Sentier</a>.</p>
  </footer>
</div>
</body>
</html>