<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"><head>
<meta charset="utf-8"></meta>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8"></meta>
<meta name="viewport" content="width=device-width, initial-scale=1.0"></meta>
<title>${context.title}</title>
<link href="$context.pathTo('assets/css/united/bootstrap.css')" rel="stylesheet"></link>
<link href="$context.pathTo('assets/css/bootstrap-responsive.css')" rel="stylesheet"></link>
<link href="$context.pathTo('assets/css/docs.css')" rel="stylesheet"></link>
<script src="$context.pathTo('assets/js/jquery.js')" type="text/javascript"></script>
<script src="$context.pathTo('assets/js/bootstrap-transition.js')" type="text/javascript"></script>
<script src="$context.pathTo('assets/js/bootstrap-alert.js')" type="text/javascript"></script>
<script src="$context.pathTo('assets/js/bootstrap-modal.js')" type="text/javascript"></script>
<script src="$context.pathTo('assets/js/bootstrap-dropdown.js')" type="text/javascript"></script>
<script src="$context.pathTo('assets/js/bootstrap-scrollspy.js')" type="text/javascript"></script>
<script src="$context.pathTo('assets/js/bootstrap-tab.js')" type="text/javascript"></script>
<script src="$context.pathTo('assets/js/bootstrap-tooltip.js')" type="text/javascript"></script>
<script src="$context.pathTo('assets/js/bootstrap-popover.js')" type="text/javascript"></script>
<script src="$context.pathTo('assets/js/bootstrap-button.js')" type="text/javascript"></script>
<script src="$context.pathTo('assets/js/bootstrap-collapse.js')" type="text/javascript"></script>
<script src="$context.pathTo('assets/js/bootstrap-carousel.js')" type="text/javascript"></script>
<script src="$context.pathTo('assets/js/bootstrap-typeahead.js')" type="text/javascript"></script>
</head>
<body data-spy="scroll" data-target=".subnav" data-offset="50" data-twttr-rendered="true">
